$theme-bg-dark: #083768;
$theme-dark-background:#1a4774;

$side-nav-link-color: black;
$side-nav-bg-color:#fafafa;

$action-header-color:#f2f2f2;

$export-link-color:#996888;
$success-link-color: #68B684;

$blue-color:#996888;
$yellow-color:#FFCF56;
$theme-bg-ligt: #C99DA3;
$bg-light-white:#edeaea;
